<nav class="teal darken-2">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">{{ title }}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {{#if isIndex}}
                <li class="active"><a href="/">Countries</a></li>
            {{else}}
                <li><a href="/">Countries</a></li>
            {{/if}}

            {{#if isUsers}}
                <li class="active"><a href="/people">Users</a></li>
            {{else}}
                <li><a href="/people">Users</a></li>
            {{/if}}

        </ul>
    </div>
</nav>